backend:
    name: git-gateway
    branch: main
    commit_messages:
        create: "Create {{collection}} “{{slug}}”"
        update: "Update {{collection}} “{{slug}}”"
        delete: "Delete {{collection}} “{{slug}}”"
        uploadMedia: "[skip ci] Upload “{{path}}”"
        deleteMedia: "[skip ci] Delete “{{path}}”"
    squash_merges: true

local_backend: true
media_folder: static/img
public_folder: /img

collections:
    - name: "ideas"
      label: "Ideas"
      label_singular: "Idea"
      folder: "src/pages/ideas"
      create: true
      slug: "{{year}}-{{month}}-{{day}}-{{slug}}"
      identifier_field: "title"
      fields:
          - {
                label: "Template Key",
                name: "templateKey",
                widget: "hidden",
                default: "idea-post",
            }
          - {
                label: "Question/Title/Hypothesis",
                name: "title",
                widget: "string",
                hint: "A one sentence description of the idea, question, or hypothesis.",
            }
          - {
                label: "Type",
                name: "type",
                widget: "select",
                options:
                    [
                        "analysis of existing data",
                        "hypothesis that requires new experimentation",
                        "micropublication",
                    ],
            }
          - {
                label: "Publish Date",
                name: "date",
                widget: "datetime",
                default: "{{now}}",
            }

          - {
                label: "Author(s)",
                name: "authors",
                widget: "relation",
                collection: "allenite",
                search_fields: ["name", "title"],
                value_field: "name",
                multiple: true,
            }
          - {
                label: "Program",
                name: "program",
                widget: "select",
                options: ["EMT", "Endo", "Other"],
            }
          - {
                label: "Introduction",
                name: "introduction",
                widget: "markdown",
                required: false,
                hint: "Why is this idea interesting or important?",
            }
          - {
                label: "Preliminary findings",
                name: "preliminaryFindings",
                widget: "object",
                hint: "What have you found so far?",
                required: false,
                fields:
                    [
                        {
                            label: "Summary of findings",
                            name: "summary",
                            widget: "string",
                            required: false,
                        },
                        {
                            label: "Images or figures",
                            name: "figures",
                            widget: "list",
                            required: false,
                            hint: "Add any images or figures that illustrate your preliminary findings.",
                            field:
                                {
                                    label: "Figure",
                                    name: "figure",
                                    widget: "image",
                                },
                        },
                    ],
            }
          - {
                label: "Materials and Methods",
                name: "materialsAndMethods",
                widget: "object",
                required: true,
                fields:
                    [
                        {
                            label: "Dataset",
                            name: "dataset",
                            widget: "relation",
                            collection: "dataset",
                            search_fields: ["name", "link"],
                            value_field: "name",
                            multiple: false,
                            required: false,
                            hint: "Select a dataset from the dataset collection, (if it's a new dataset, please add it to the dataset collection first, you can save this and come back later).",
                        },
                        {
                            label: "Relevant protocols",
                            name: "protocols",
                            widget: "list",
                            required: false,
                            hint: "List any relevant protocols used in this analysis.",
                            field:
                                {
                                    label: "Protocol",
                                    name: "protocol",
                                    widget: "file",
                                },
                        },
                        {
                            label: "Cell lines used",
                            name: "cellLines",
                            widget: "list",
                            required: false,
                            hint: "List any cell lines used in this analysis.",
                            fields: [
                                {
                                    label: "Name",
                                    name: "name",
                                    widget: "string",
                                },
                                {
                                    label: "Link",
                                    name: "link",
                                    widget: "string",
                                    required: false,
                                },
                            ],
                        },
                        {
                            label: "Software tools",
                            name: "software",
                            widget: "list",
                            required: false,
                            hint: "List any software tools used in this analysis.",
                            field: {
                                label: "Software tool",
                                name: "softwareTool",
                                widget: "object",
                                fields: [
                                    {
                                        label: "Name",
                                        name: "name",
                                        widget: "string",
                                    },
                                    {
                                        label: "Instructions",
                                        name: "instructions",
                                        widget: "markdown",
                                    },
                                    {
                                        label: "Link",
                                        name: "link",
                                        widget: "string",
                                        required: false,
                                    },
                                ],
                            },
                        },
                    ],
            }
          - {
            label: "Suggested next steps",
            name: "nextSteps",
            widget: "list",
            required: false,
            hint: "What are the next steps to further investigate this idea?",
            field: {
                label: "Step",
                widget: "markdown",
            },
            }
          - {
                label: "Associated publication",
                name: "publication",
                widget: "string",
                required: false,
            }
          - {
                label: "Tags",
                name: "tags",
                widget: "list",
                allow_add: true,
                required: false,
                default: [],
            }
          - {
                label: "Preferred acknowledgment",
                name: "acknowledgment",
                widget: "select",
                options:
                    ["as co-authors", "acknowledgment in paper", "citation"],
                required: false,
            }
          - {
                label: "AICS concerns if any (won't be shared publicly)",
                name: "concerns",
                widget: "string",
                required: false,
            }

    - name: "dataset"
      label: "Datasets"
      label_singular: "Dataset"
      folder: "src/pages/dataset"
      create: true
      slug: "{{name}}"
      fields:
          - {
                label: "Template Key",
                name: "templateKey",
                widget: "hidden",
                default: "dataset",
            }
          - { label: "Name", name: "name", widget: "string" }
          - { label: "Link", name: "link", widget: "string", required: false }
          - {
                label: "Status",
                name: "status",
                widget: "select",
                options:
                    [
                        "Public",
                        "Not QCed",
                        "Preliminary",
                        "Need to request data directly",
                    ],
            }
          - { label: "Publish Date", name: "date", widget: "datetime" }
          - {
                label: "Description",
                name: "description",
                widget: "markdown",
                required: false,
            }
    - name: "allenite"
      label: "Allenites"
      label_singular: "Allenite"
      folder: "src/pages/allenite"
      create: true
      slug: "name"
      fields:
          - {
                label: "Template Key",
                name: "templateKey",
                widget: "hidden",
                default: "allenite",
            }
          - { label: "Name", name: "name", widget: "string" }
          - { label: "Title", name: "title", widget: "string", required: false }
          - {
                label: "Contact method",
                name: "contact",
                widget: "string",
                hint: "email, forum link, etc.",
                required: false,
            }
          - {
                label: "Program",
                name: "program",
                widget: "relation",
                collection: "program",
                required: false,
                search_fields: ["name"],
                value_field: "name",
                multiple: true,
            }

    - name: "program"
      label: "Programs"
      label_singular: "Program"
      folder: "src/pages/programs"
      create: true
      slug: "{{name}}"
      fields:
          - {
                label: "Template Key",
                name: "templateKey",
                widget: "hidden",
                default: "program",
            }
          - { label: "Name", name: "name", widget: "string" }
          - {
                label: "Description",
                name: "description",
                widget: "markdown",
                required: false,
            }
          - { label: "Image", name: "image", widget: image, required: false }
          - { label: "Active", name: "active", widget: boolean, default: false }

    - name: "pages"
      label: "Pages"
      files:
          - file: "src/pages/index.md"
            label: "Landing Page"
            name: "index"
            fields:
                - {
                      label: "Template Key",
                      name: "templateKey",
                      widget: "hidden",
                      default: "index-page",
                  }
                - { label: Title, name: title, widget: string }
                - { label: Image, name: image, widget: image }
                - { label: Heading, name: heading, widget: string }
                - { label: Subheading, name: subheading, widget: string }
                - {
                      label: Mainpitch,
                      name: mainpitch,
                      widget: object,
                      fields:
                          [
                              { label: Title, name: title, widget: string },
                              {
                                  label: Description,
                                  name: description,
                                  widget: text,
                              },
                          ],
                  }
                - { label: "Body", name: "body", widget: "markdown" }

          - file: "src/pages/about/index.md"
            label: "About"
            name: "about"
            fields:
                - {
                      label: "Template Key",
                      name: "templateKey",
                      widget: "hidden",
                      default: "about-page",
                  }
                - { label: "Title", name: "title", widget: "string" }
                - { label: "Body", name: "body", widget: "markdown" }
