.card {
    border: 1px solid #CBCBCC;
}

.section {
    margin-top: 2rem;
}

.sectionTitle {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.actionIcons {
    font-size: 16px;
}

.taglist {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.taglist li {
    display: inline-block;
}

.proposal {
    font-size: 16px;
    font-weight: 500;
    border: 1px solid #CBCBCC;
    background-color: rgb(240, 251, 255);
    border-radius: 4px;
    padding: 12px;
}