/* Seemingly redundant font import is necessary to get fonts into decap Preview components */
@import url("https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400&family=Urbanist:wght@400;500;600;700;800&display=swap");
@import "../style/colors.css";

body {
    margin: 0;
    width: 100%;
    font-family: var(--font-body);
    background: var(--PAGE_1);
}
