@import "../style/colors.sass";

.container {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    max-width: 1728px;
    margin: auto;
}

.container h1,
h2,
h3,
h4 {
    margin: 0;
}

.container h1 {
    font-family: "Raleway", sans-serif;
    font-size: 32px;
    font-weight: 400;
    font-style: normal;
}

.container h2 {
    font-family: "Open Sans", sans-serif;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 12px;
}

.container h3 {
    font-weight: 700;
    color: var(--primary-color);
    font-size: 24px;
}

.container h4 {
    font-family: Raleway;
    font-size: 20px;
    font-weight: 500;
    color: var(--primary-color);
}

/* Global AntD Layout Header styling */
.container :global(.ant-layout-header), .container :global(.ant-layout-header) a {
    background-color: var(--primary-color);
    padding: 0 24px;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 32px;   
}

.container :global(.ant-layout-header) a {
    border-radius: 4px;
    padding: 8px;
}

.container :global(.ant-layout-header) a:hover {
    border: 1px solid white;
}
