.subText {
    border: 1px solid var(--border-color);
    background-color: var(--bg-secondary-color);
    border-radius: 2px;
    margin: 12px;
    padding: 6px;
    margin-bottom: 24px;
    font-style: italic;
}
