.subText {
    border: 1px solid var(--color-border);
    background-color: var(--color-bg-secondary);
    border-radius: 2px;
    margin: 12px;
    padding: 6px;
    margin-bottom: 24px;
    font-style: italic;
}
