.sider {
    padding: 24px 0px 0px 0px;
    background-color: var(--color-bg-base);
    border-left: 1px solid var(--GRAY_1);
    position: sticky;
    top: 64px;
    align-self: flex-start;
    height: calc(100vh - 64px);
    overflow-y: auto;
    box-sizing: border-box;
}

.siderMenu {
    background-color: var(--color-bg-base);
    color: var(--color-text-secondary);
}
