.sider {
    padding: 24px 0px 0px 0px;
    background-color: var(--bg-secondary-color);
    position: sticky;
    top: 64px;
    align-self: flex-start;
    height: calc(100vh - 64px);
    overflow-y: auto;
    box-sizing: border-box;
}

.siderMenu {
    background-color: var(--bg-secondary-color);
}
